@model AppStock.Models.ArticleEntity

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Article</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Libelle" class="control-label"></label>
                <input asp-for="Libelle" class="form-control" />
                <span asp-validation-for="Libelle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrixUnitaire" class="control-label"></label>
                <input asp-for="PrixUnitaire" class="form-control" />
                <span asp-validation-for="PrixUnitaire" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleFamilleId" class="control-label"></label>
                <select asp-for="ArticleFamilleId" class="form-control" asp-items="ViewBag.ArticleFamilleID">
                    <option value="">- Aucune famille -</option>
                </select>
                <span asp-validation-for="ArticleFamilleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomTypeTVAId" class="control-label"></label>
                <select asp-for="NomTypeTVAId" class="form-control" asp-items="ViewBag.NomTypeTVAID"></select>
                <span asp-validation-for="NomTypeTVAId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
