@model AppStock.Models.DTO.CommandeDTO
@{
    ViewData["Title"] = "Adresse de livraison";
}

<h1>Validation de commande</h1>

<h4>Contact de livraison</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ValiderCommande">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <!-- ADRESSE -->
            <div class="form-group">
                <label asp-for="Contact.Adresse.Champ1" class="control-label"></label>
                <input asp-for="Contact.Adresse.Champ1" class="form-control" />
                <span asp-validation-for="Contact.Adresse.Champ1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Adresse.Champ2" class="control-label"></label>
                <input asp-for="Contact.Adresse.Champ2" class="form-control" />
                <span asp-validation-for="Contact.Adresse.Champ2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Adresse.CodePostal" class="control-label"></label>
                <input asp-for="Contact.Adresse.CodePostal" class="form-control" />
                <span asp-validation-for="Contact.Adresse.CodePostal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Adresse.Ville" class="control-label"></label>
                <input asp-for="Contact.Adresse.Ville" class="form-control" />
                <span asp-validation-for="Contact.Adresse.Ville" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact.Adresse.Pays" class="control-label"></label>
                <input asp-for="Contact.Adresse.Pays" class="form-control" />
                <span asp-validation-for="Contact.Adresse.Pays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Valider la commande" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Panier">Retour au panier</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
